<div class="chat-header" >
  <div class="left-header" >
    <div class="chat-name" >
      チャット名前
    </div>
  </div>
  <div class="right-header" >
    <div class="room-end" >
      <a href="#" >チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-main" >
  <div class="chat-status" >
    <div class="status-main" >
      <div class="name-content" >
        Tom
      </div>
      <div class="time-content" >
        2020/01/01(Wed) 20:00:00
      </div>
    </div>
    <div class="text-zone" >
      <div class="text-content" >
        おはよう
      </div>
    </div>
  </div>
  <div class="chat-status" >
    <div class="status-main" >
      <div class="name-content" >
        Tom
      </div>
      <div class="time-content" >
        2020/01/01(Wed) 23:00:00
      </div>
    </div>
    <div class="text-zone" >
      <div class="text-content" >
        ああああ
      </div>
    </div>
  </div>
</div>

<%# <div class="chat-footer" > %>
  <%# <form class="chat-form"> %>
  <%= form_with model: [@room, @message], class: 'chat-footer', local: true do |f| %>
    <div class="chat-form" >
      <%= f.text_field :text, class: 'message-form', placeholder: 'type a message' %>
      <%# <input class="message-form" type="text" placeholder="type a message" > %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
        <%# <input type="file" class="hidden"> %>
      </label>
    </div>
    <%= f.submit '送信', class: 'submit-form' %>
    <%# <input class="submit-form" type="submit" value="送信" > %>
  <% end %>
  <%# </form> %>
<%# </div> %>